/*#label{
    text-decoration-color: black;
}

.container{
    background-image: url("/assets/img/paddy.jpg");
    height: 500px;
    width:auto;
}
#navigation {
    float: left;
    width: 100%;
    background: #4d4d4d;
    }
    #navigation ul {
    margin: 0;
    padding: 5;
    }
    #navigation ul li {
    list-style-type: none;
    display: inline;
    }
    #navigation li a {
    display: block;
    float: left;
    padding: 5px 25px;
    color: #FFF;
    text-decoration: none;
    border-right: 0px solid#fff;
    }
    #navigation li a:hover
    {
    background: #2874a6;
    color: #fff
    }
    #footer{
    background: #000000;;
    text-align: center;
    padding: 5px;
    color: #fff;
    
    }
.body1{
    width:800px;
    height: auto;
    position: absolute;
    left:300px;
    top:40px;
}
.left{
    background-color:red;
    height: 40px;
    width:300px;
    

}
.right{
    background-color:rebeccapurple ;
    height: 40px;
    width:300px
}*/

*{
	margin:0px;
	padding:0px;
}

.bgimage{
	background-image: url('/assets/img/paddy.jpg');
	background-size: 100% 110%;
	width: 100%;
    height: 100vh;
    
}

.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
/*	background-color: yellow;*/
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}


.rightmenu{
	width:70%;
	height: 100px;
	float: right;
/*	background-color: red; */
}

.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}

#fisrtlist{
	color: orange;
}

.rightmenu ul li:hover{
	color: orange;
}


.mat-typography{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.text h4{

	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.text h1{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}


#buttonone{
	background-color: white;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	border: 3px solid white;
}

#buttontwo{

	background-color: transparent;
	border: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	border: 3px solid white;
	width: 150px;
}
/*.......................................form....................................*/

#label{
    text-decoration-color: black;
}

.container{
    /*background-image: url("");*/
    height: 350px;
    width:700px;
    transform: translate(400px,5px);
    border-radius: 3%;
    border: solid 2px;
    border-color: black;
    box-shadow: black;
    padding-bottom: 10px;
}

#footer{
    background: #000000;;
    text-align: center;
    padding: 5px;
    color: #fff;
    
    }

   .mat-raised-button{
       width:100px;
       height: 40px;
   }

   .parallax {
    /* The image used */
    background-image: url("/assets/img/paddy1.jpg");
  
    /* Set a specific height */
    min-height:300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
  }
 
  mat-grid-tile{
      background-color: rgb(233, 231, 229);
      width:400px;
  }
  .empty{
      padding-bottom: 20PX;
      padding-top: 20PX;
      color: teal;
      text-align: center;
  }

  #footer{

	width: 100%;
	height: 100px;
	background-color: rgb(0, 0, 0);
}

.lfooterleft{
	width: 20%;
	line-height: 50px;
	float: left;
/*	background-color: yellow;*/
}

.footerleft h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}


.footerright{
	width:70%;
	height: 100px;
	float: right;
/*	background-color: red; */
}

.footerright ul{
	margin-left: 200px;
}

.footerright ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}

#fisrtlist{
	color: orange;
}

.rightmenu ul li:hover{
	color: orange;
}
